:root {
    --dark-blue: #04021f;
    --sky-blue: #00abf1;
    --slider-height: 50rem;
    --half-slider-height: calc(var(--slider-height)/2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: var(--dark-blue);
    overflow: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular_slider {
    top: 50vh;
    position: relative;
    width: var(--slider-height);
    height: var(--slider-height);
    color: white;
    text-align: center;
    /* border: 1px solid crimson; */

}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid crimson; */
    border-radius: 50%;
    transform: rotateZ(-360deg);
    transition: 1s ease;
}

.character_name {
    position: absolute;
    font: 600 6.4rem sans-serif;
    text-transform: uppercase;
    white-space: pre;
    color: transparent;
    -webkit-text-stroke: 1px var(--sky-blue);
    transform: translate(-80%, -600%);
    opacity: 0;
    transition: .7s ease-in-out, opacity .5s;
}

.character_name.active {
    transform: translate(0%, -600%);
    opacity: 1;
    transition: .5s ease-in-out, opacity 1s;


}

.slides {
    cursor: pointer;
    position: absolute;
    left: 0;
    transform: rotateZ(calc(360deg / 5 * var(--img-no))) translateY(var(--half-slider-height));
    transform-origin: var(--half-slider-height);
    /* transform: rotateZ(90deg); */
    width: 14vw;
    height: 14vw;

}

.slides img {
    width: 100%;
    height: 100%;
    transform: rotateZ(calc(360deg / -5 * var(--img-no))) scale(var(--scale, .8));
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
    user-select: none;
}

.slides img:hover {
    width: 120%;
    height: 120%;
}

.slides img.active {
    --scale: 1.3;
    outline: .1rem solid var(--sky-blue);
    outline-offset: .5rem;
}

.descriptions {
    position: absolute;
    bottom: 50%;
    height: var(--half-slider-height);
}

.descriptions .descriptions_items {
    width: 70%;
    height: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.7s ease-in-out 1s, height 0.9s 1.1s;
}

.descriptions .descriptions_items.active {
    opacity: 1;
    height: 100%;
}

.descriptions_items p {
    margin: 1rem 0;
}

.descriptions_items button {
    padding: 1.3rem 3rem;
    background-color: var(--sky-blue);
    color: black;
    cursor: pointer;
    border-radius: 2rem;

}